
/* {
    fonts:

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto Mono', monospace;

    colors:

    green - #A8FF00 
    gray - #8e8e8e

    mediaquery breakpoints:

    - 775px 
    - 375px

    a { 
    color: black;
    font-weight: 600;
}

a:hover {
    color: #A8FF00;
}

navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: 150px;

} 
*/

.navbar-brand>img {
    height: 40px;
    margin:0 auto;
} 

@media (max-width: 775px) {
    h1 {
      font-size: 2.5em;
    }
  }

  @media (max-width: 375px) {
    h1 {
      font-size: 1em;
    }
  }

p{
    margin-top: 40px;
    font-family: 'Roboto Mono', monospace; 
    line-height: 1.5;
}

h1{
font-size: 3.5em;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
}

h4{
    font-size: .8em;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace; 
    list-style-type: none;
}

h5{
    font-size: 1em;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace; 
}

h6{
    font-size: .8em;
    font-style: italic;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
    color: #8e8e8e; 
}

footer {
    border-top: 2px dashed #8e8e8e;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img{
box-shadow: 10px 7px #A8FF00;
padding: 10px;
}

.green {
        background-size: .9em;
        background-color: #A8FF00;
        padding-left: 10px;
        padding-right: 10px;
}

a { 
    color: #eeeeee;
    background-color: black;
    font-weight: 500;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

a:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
}

body{
    margin-bottom: 40px;
}