

body{
	font-family: 'Scheherazade New', serif;
	font-size:16px;
	margin-top: 30px;
	margin-bottom: 50px;
}


h1,
h3,
header p,
footer{
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #407292;
}

h1{
	font-size: 3em;
	font-weight:600;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

h3{
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

header p,
footer{
	color: grey;
	font-size: .8em;
	line-height: .8;
}

img{
	margin: 20px;
}

.ingredients{
	background-color: lavender;
	padding: 5px;
}