h1,
h2,
h3,
footer{
	font-family: 'Playfair Display', serif;
	color: #d39b6c;
}

h1{
    font-size: 5em;
}

.logo{
    width: 100px;
    margin-left: 35px;
}

body{
	font-family: 'Syne', sans-serif;
	font-size:16px;
	margin-top: 30px;
	margin-bottom: 50px;
}

header{
    font-family: 'Syne', sans-serif;
    color: #35627c;
    font-weight: 600;
}

h4{
    font-family: 'Syne', sans-serif;
    color: #000000;
    font-family: 'Syne', sans-serif;
}

h5{
    font-family: 'Syne', sans-serif;
    color: #221515;
    font-weight:500
}

h6
{
    font-family: 'Syne', sans-serif;
    color: #5a5a5a;
    font-weight:300
}

.title{
    background-color: #fdecdd;
	
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
}